/*-----QWidget-----*/
QWidget
{
    background-color: #0f0f0f;
    color: #FF4500; /* Chevy orange */
    border-color: #FF0800; /* Candy apple red */
}

/*-----QLabel-----*/
QLabel
{
    background-color: transparent;
    color: #FF4500; /* Chevy orange */
    font-weight: bold;
    border-color: #FF0800; /* Candy apple red */
}

/*-----QPushButton-----*/
QPushButton
{
    background-color: #FF0800; /* Candy apple red */
    color: #FF4500; /* Chevy orange */
    font-weight: bold;
    border: 1px solid #FF0800; /* Candy apple red */
    border-radius: 2px;
    padding: 5px;
}

QPushButton::hover
{
    background-color: #CC0800; /* Darker candy apple red */
    color: #FF4500; /* Chevy orange */
}

QPushButton::pressed
{
    background-color: #FF0000; /* Brighter candy apple red */
    color: #FF4500; /* Chevy orange */
}

/*-----QToolButton-----*/
QToolButton
{
    background-color: transparent;
    color: #FF4500; /* Chevy orange */
    border-style: solid;
    border-color: #FF0800; /* Candy apple red */
}

QToolButton::hover
{
    background-color: #FF0800; /* Candy apple red */
    color: #FF4500; /* Chevy orange */
    border-radius: 15px;
    border-color: #FF0800; /* Candy apple red */
}

QToolButton::pressed
{
    background-color: #FF0800; /* Candy apple red */
    color: #FF4500; /* Chevy orange */
    border-style: solid;
    border-width: 0px;
}

/*-----QLineEdit-----*/
QLineEdit
{
    background-color: #4d4d4d;
    color: #FF4500; /* Chevy orange */
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
}

/*-----QCheckBox-----*/
QCheckBox
{
    background-color: transparent;
    color: #FF4500; /* Chevy orange */
    font-weight: bold;
}

QCheckBox::indicator
{
    color: #FF4500; /* Chevy orange */
    background-color: #00111d;
    border: 1px solid #FF0800; /* Candy apple red */
    width: 12px;
    height: 12px;
}

QCheckBox::indicator:checked
{
    image: url("./resources/check.png"); /* Replace with your own image */
    background-color: #FF0800; /* Candy apple red */
    border: 1px solid #FF0800; /* Candy apple red */
}

QCheckBox::indicator:unchecked:hover
{
    border: 1px solid #FF0000; /* Brighter candy apple red */
}

QCheckBox::disabled
{
    color: #656565;
}

QCheckBox::indicator:disabled
{
    background-color: #656565;
    color: #656565;
    border: 1px solid #656565;
}

