html{
    overflow:-moz-scrollbars-vertical;
    overflow-y:scroll
}
#iex_layout_incors{
    height:100%
}
textarea,input[type="text"],input[type="button"],input[type="submit"]{
    -webkit-appearance:none;
    border-radius:0
}
body{
    font-family:'Roboto','Open Sans',Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    margin:0;
    line-height:1.4;
    color:#222;
    background-image:url(/_img/poly-bg.jpg);
    background-attachment:fixed
}
#iex_layout_incors body{
    display:flex;
    flex-direction:column;
    height:100%;
    font-size:18px;
    line-height:1.8;
    color:#5e7173;
    background:#f8f8f8
}
h1{
    font-weight:400
}
h2{
    font-weight:400
}
h3{
    font-weight:400
}
p{
    padding:0;
    margin:10px 0 0 0
}
a{
    outline:0;
    text-decoration:none;
    color:#20638D
}
a:hover,a:active{
    text-decoration:none;
    color:#3697BF
}
img{
    border:none
}
table{
    border-spacing:0;
    border-collapse:separate
}
table td{
    padding:0
}
.iex_box_shadow_1{
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}
.iex_box_shadow_1_5{
    box-shadow:0 4px 10px 0 rgba(0,0,0,.2),0 4px 15px 0 rgba(0,0,0,.15)
}
.iex_box_shadow_2{
    box-shadow:0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
}
.iex_box_shadow_3{
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)
}
.iex_box_shadow_4{
    box-shadow:0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)
}
.iex_material_button{
    position:relative;
    cursor:pointer;
    display:inline-block;
    overflow:hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:transparent;
    vertical-align:middle;
    z-index:1;
    will-change:opacity,transform;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    transition:all .3s ease-out;
    text-decoration:none;
    color:#fff!important;
    background-color:#FF5722;
    text-align:center;
    letter-spacing:.5px;
    -webkit-transition:.2s ease-out;
    -moz-transition:.2s ease-out;
    -o-transition:.2s ease-out;
    -ms-transition:.2s ease-out;
    transition:.2s ease-out;
    cursor:pointer;
    border:none;
    border-radius:.1px;
    display:inline-block;
    height:36px;
    line-height:36px;
    outline:0;
    padding:0 2rem;
    vertical-align:middle;
    white-space:nowrap;
    -webkit-tap-highlight-color:transparent;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)
}
.iex_material_button:hover{
    text-decoration:none!important;
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
.iex_material_button_white{
    background-color:#fff;
    color:#555!important
}
.iex_material_button_white:hover{
    background-color:#fff
}
.iex_content{
    padding:5px 30px 20px
}
#iex_layout_incors .iex_content{
    padding:10px 60px;
    text-align:justify
}
#iex_icon_experience_logo{
    display:block;
    width:323px;
    text-align:right;
    position:relative;
    font-size:14px;
    font-family:'Roboto Mono','Roboto','Open Sans',Helvetica,Arial,sans-serif!important;
    color:#36464E!important;
    text-decoration:none!important;
    left:0
}
#iex_icon_experience_logo:hover{
    color:#36464E!important;
    text-decoration:none!important
}
#iex_icon_experience_logo>div{
    display:inline-block;
    height:63px;
    width:50px
}
.iex_news{
    font-size:10px;
    background-color:rgb(227,231,233);
    border:solid 1px rgb(80,99,110);
    padding:15px 8px
}
.iex_list_item{
    margin:3px 0
}
.iex_list_item_large{
    margin:10px 0
}
.main_header{
    height:65px
}
.iex_menu{
    padding:0 0 0 0;
    height:23px;
    position:relative;
    left:2px
}
#iex_layout_incors .iex_menu{
    display:none
}
.iex_menu_item{
    display:block;
    width:110px;
    height:22px;
    line-height:21px;
    margin:0 2px 0 0;
    float:right;
    padding:0;
    height:22px;
    overflow:hidden;
    background-position:0 -23px;
    background-repeat:no-repeat;
    text-align:center;
    font-size:16px;
    color:#fff!important;
    text-decoration:none!important
}
.iex_menu_item span{
    vertical-align:text-top
}
.iex_menu_item:hover{
    text-decoration:none!important
}
.iex_menu_item_g_collection,.iex_menu_item_o_collection,.iex_menu_item_i_collection,.iex_menu_item_v_collection,.iex_menu_item_m_collection,.iex_menu_item_x_collection{
    background-color:#b0b0b0
}
.iex_menu_item_i_collection:hover{
    height:21px
}
.iex_menu_item_g_collection_selected,.iex_menu_item_o_collection_selected,.iex_menu_item_v_collection_selected,.iex_menu_item_m_collection_selected,.iex_menu_item_x_collection_selected{
    height:23px
}
.iex_menu_item_i_collection_selected{
    height:22px
}
.iex_menu_item_g_collection_selected,.iex_menu_item_g_collection:hover{
    background-color:#00796B
}
.iex_menu_item_o_collection_selected,.iex_menu_item_o_collection:hover{
    background-color:#A1C057
}
.iex_menu_item_i_collection_selected,.iex_menu_item_i_collection:hover{
    width:108px;
    color:#404040!important;
    background-color:#fff;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc
}
.iex_menu_item_v_collection_selected,.iex_menu_item_v_collection:hover{
    background-color:#3C9CD0
}
.iex_menu_item_m_collection_selected,.iex_menu_item_m_collection:hover{
    background-color:#404040
}
.iex_menu_item_x_collection_selected,.iex_menu_item_x_collection:hover{
    background-color:#DB6627
}
.iex_menu_item:active{
    color:#000
}
#menu_collection_preview_container{
    display:none;
    position:absolute;
    top:0;
    width:950px;
    height:88px;
    background:#fff
}
.menu_preview{
    display:none;
    height:54px;
    position:absolute;
    top:0;
    width:100%;
    border-bottom:3px solid #fff;
    padding:7px 0 0
}
.menu_preview_g{
    border-color:#00796B
}
.menu_preview_o{
    border-color:#A1C057
}
.menu_preview_i{
    border-color:#ccc
}
.menu_preview_v{
    border-color:#3C9CD0
}
.menu_preview_m{
    border-color:#404040;
    background-color:#404040
}
.menu_preview_image{
    background-repeat:repeat-x;
    height:48px
}
.menu_preview_g .menu_preview_image{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/g_home_icons.png?v=4)
}
.menu_preview_o .menu_preview_image{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/o_home_icons.png?v=4)
}
.menu_preview_i .menu_preview_image{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/i_home_icons.png?v=4)
}
.menu_preview_v .menu_preview_image{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/v_home_icons.png?v=4)
}
.menu_preview_m .menu_preview_image{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/m_home_icons.png?v=4)
}
.iex_menu_sub{
    margin:0 0 0 3px;
    padding:0 40px 0 0;
    list-style-type:none;
    text-align:right
}
.iex_menu_sub_item{
    float:left;
    padding:0 10px;
    font-size:16px;
    line-height:30px
}
#iex_layout_i_collection .iex_menu_sub_item{
    line-height:28px
}
a.iex_buy_menu_sub{
    display:block;
    position:relative;
    top:3px;
    left:-5px;
    float:right;
    padding:0 10px;
    height:24px;
    font-size:16px;
    line-height:24px;
    text-align:center;
    color:#fff!important;
    background:red;
    border-radius:7px;
    text-decoration:none!important
}
a.iex_buy_menu_sub:hover{
    text-decoration:none!important
}
#iex_menu_sub_purchase .iex_buy_menu_sub{
    display:none
}
#iex_layout_incors .iex_buy_menu_sub{
    display:none
}
#iex_layout_o_collection a.iex_buy_menu_sub{
    background:#F9A34F;
    transition:background-color .3s ease-in-out
}
#iex_layout_o_collection a.iex_buy_menu_sub:hover{
    background:#EE791B
}
#iex_layout_v_collection a.iex_buy_menu_sub{
    background:#FACD46;
    transition:background-color .3s ease-in-out
}
#iex_layout_v_collection a.iex_buy_menu_sub:hover{
    background:#E29F46
}
#iex_layout_m_collection a.iex_buy_menu_sub{
    background:#1896CA;
    transition:background-color .3s ease-in-out
}
#iex_layout_m_collection a.iex_buy_menu_sub:hover{
    background:#0F67BA
}
#iex_layout_x_collection a.iex_buy_menu_sub{
    background:#64CA31;
    transition:background-color .3s ease-in-out
}
#iex_layout_x_collection a.iex_buy_menu_sub:hover{
    background:#42A00F
}
#iex_layout_i_collection a.iex_buy_menu_sub{
    border-radius:0;
    top:2px;
    background:#3393ff;
    transition:background-color .3s ease-in-out
}
#iex_layout_i_collection a.iex_buy_menu_sub:hover{
    background:#0F7BFD
}
#iex_layout_g_collection a.iex_buy_menu_sub{
    border-radius:0;
    background:#FF5722;
    transition:background-color .3s ease-in-out
}
#iex_layout_g_collection a.iex_buy_menu_sub:hover{
    background:#FF825C
}
.iex_menu_sub_item_selected a:hover{
    text-decoration:none!important
}
.iex_menu_sub_item_not_selected a,.iex_menu_sub_item_not_selected a:visited,.iex_menu_sub_item_selected a,.iex_menu_sub_item_selected a:visited{
    color:#fff
}
.iex_menu_sub_item_selected{
    color:#fff;
    line-height:22px;
    height:22px;
    margin:3px 0;
    padding:0 9px
}
#iex_layout_i_collection .iex_menu_sub_item_selected{
    line-height:22px;
    margin:2px 0
}
.iex_menu_sub_item_not_selected a:hover{
    text-decoration:underline
}
#iex_layout_g_collection .iex_menu_sub_item_selected{
    background-color:#7EC8C3;
    border:1px solid #7EC8C3
}
#iex_layout_i_collection .iex_menu_sub_item_selected{
    background-color:#fff;
    border:1px solid #0F7BFD
}
#iex_layout_o_collection .iex_menu_sub_item_selected{
    background-color:#BED47C;
    border:1px solid #E1EBC1
}
#iex_layout_v_collection .iex_menu_sub_item_selected{
    background-color:#5db3da;
    border:1px solid #a6e1ee
}
#iex_layout_m_collection .iex_menu_sub_item_selected{
    background-color:#555;
    border:1px solid #999
}
#iex_layout_m_collection .iex_menu_sub_item a{
    text-decoration:none
}
#iex_layout_x_collection .iex_menu_sub_item_selected{
    background-color:#feb650;
    border:1px solid #fedb75
}
#iex_layout_incors .iex_menu_sub{
    margin:0
}
#iex_layout_incors .iex_menu_sub_item{
    min-width:80px;
    text-align:center
}
#iex_layout_incors .iex_menu_sub_item_selected{
    background-color:#4DD0E1;
    border:none;
    height:30px;
    line-height:30px;
    margin:0;
    padding:0 20px
}
#iex_layout_incors .iex_menu_sub_item_not_selected{
    padding:0 20px
}
.iex_heading h1,.iex_heading h2,.iex_heading h3,.iex_heading h4{
    margin:0
}
.iex_heading div{
    background-color:#70BDF0;
    height:1px;
    margin:7px 0 0
}
.iex_heading_1{
    padding:15px 30px 15px
}
.iex_heading_2{
    padding:13px 30px 13px
}
.iex_heading_3{
    padding:10px 30px 10px
}
.iex_heading_4{
    padding:8px 30px 8px
}
.iex_heading_1 h1{
    font-size:20px
}
.iex_heading_2 h2{
    font-size:16px
}
.iex_heading_3 h3{
    font-size:14px
}
.iex_heading_4 h4{
    font-size:13px
}
#iex_layout_incors .iex_heading div{
    background:transparent;
    height:auto;
    margin:0
}
#iex_layout_incors .iex_heading h1,.iex_heading h2,.iex_heading h3,.iex_heading h4{
    color:#00ACC1;
    margin:0
}
#iex_layout_incors .iex_heading_1{
    padding:5px 30px;
    background:#4DD0E1;
    margin-bottom:20px;
    border-bottom:4px solid #eb407a
}
#iex_layout_incors .iex_heading_1 h1{
    font-size:32px;
    font-weight:300;
    color:#fff
}
#iex_layout_incors .iex_heading_2{
    padding:20px 60px 8px
}
#iex_layout_incors .iex_heading_2 h2{
    font-size:22px
}
#iex_layout_incors .iex_heading_3{
    padding:10px 30px
}
#iex_layout_incors .iex_heading_3 h3{
    font-size:18px
}
#iex_layout_incors .iex_heading_4{
    padding:8px 30px
}
#iex_layout_incors .iex_heading_4 h4{
    font-size:16px
}
.table_row_2cols_fact_sheet td{
    padding:10px
}
.table_row_2cols_fact_sheet p{
    margin:0;
    padding:0
}
.iex_code{
    margin:20px 0
}
.iex_code_header{
    font-style:italic;
    margin:0 0 10px
}
.iex_code_text{
    border:1px solid #ccc;
    background:#f5f5f5;
    font-family:courier
}
.iex_code_text pre{
    padding:10px;
    margin:0
}
#iex_footer_line{
    width:90%;
    margin:0 auto;
    height:0;
    border-top:1px solid #F9FAFB;
    border-bottom:1px solid #E4E9ED;
    border-left:0;
    border-right:0;
    padding:0
}
#iex_footer{
    position:relative;
    height:42px
}
#iex_footer a{
    color:#000;
    text-decoration:none
}
#iex_footer a:hover{
    text-decoration:underline
}
#iex_layout_incors #iex_footer{
    height:auto
}
#g_collection_search_submit{
    position:absolute;
    right:0;
    top:0;
    width:119px;
    height:29px;
    border:0 solid #fff;
    cursor:pointer
}
#i_collection_search_submit{
    position:absolute;
    right:0;
    top:0;
    width:119px;
    height:29px;
    border:0 solid #fff;
    cursor:pointer
}
#o_collection_search_submit{
    position:absolute;
    right:0;
    top:0;
    width:119px;
    height:29px;
    border:0 solid #fff;
    cursor:pointer
}
#v_collection_search_submit{
    position:absolute;
    right:0;
    top:0;
    width:119px;
    height:29px;
    border:0 solid #fff;
    cursor:pointer
}
#m_collection_search_submit{
    position:absolute;
    right:0;
    top:0;
    width:119px;
    height:29px;
    border:0 solid #fff;
    cursor:pointer
}
.iex_buy_now{
    width:120px
}
div.iex_buy_now{
    width:120px;
    height:24px;
    background-position:-120px 0;
    background-repeat:no-repeat;
    background-image:url(/_img/button_buy_now.png?v=4)
}
div.iex_buy_now a{
    display:block;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-position:top left;
    background-repeat:no-repeat;
    background-image:url(/_img/button_buy_now.png?v=4)
}
div.iex_buy_now a:hover{
    background-image:none
}
.iex_sample_icons{
    width:169px
}
div.iex_sample_icons{
    width:169px;
    height:24px;
    background-position:-169px 0;
    background-repeat:no-repeat;
    background-image:url(/_img/button_download_samples.png?v=4)
}
div.iex_sample_icons a{
    display:block;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-position:top left;
    background-repeat:no-repeat;
    background-image:url(/_img/button_download_samples.png?v=4)
}
div.iex_sample_icons a:hover{
    background-image:none
}
div.iex_features_v a{
    display:block;
    width:285px;
    height:87px;
    background-repeat:no-repeat
}
div.iex_features_v a:hover{
    background-position:inherit;
    background-repeat:no-repeat
}
.iex_download_pdf,.iex_download_zip,.iex_weblink,.iex_image_link{
    line-height:24px;
    clear:left
}
.iex_download_pdf img,.iex_download_zip img,.iex_weblink img,.iex_image_link img{
    margin:0 5px 0 0;
    vertical-align:middle;
    display:block;
    border:none;
    float:left
}
.iex_info_box{
    border:solid 2px #50636e;
    background-color:#eff1f2;
    height:45px;
    padding:10px
}
.iex_info_box img{
    float:left;
    margin:0 10px 5px 0;
    width:46px;
    height:45px
}
.iex_license_header{
    text-align:center;
    margin:0 0 20px 0
}
div.iex_purchase_button{
    float:right
}
div.iex_purchase_button a:hover{
    background-image:none
}
table.download_table_cloudfront{
    margin:0 auto 15px;
    width:500px;
    border-spacing:2px
}
table.download_table_cloudfront td{
    padding:10px
}
div.iex_download_button{
    width:120px;
    height:24px;
    margin:10px 0 10px 0;
    background-position:-120px 0;
    background-repeat:no-repeat
}
div.iex_download_button a{
    display:block;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-position:top left;
    background-repeat:no-repeat
}
div.iex_download_button a:hover{
    background-image:none
}
.iex_faq{
    margin:0 0 10px 0;
    padding:0 30px
}
.iex_faq_toggle{
    position:relative
}
.iex_faq_toggle_close,.iex_faq_toggle_open{
    position:absolute;
    top:5px;
    left:0;
    width:9px;
    height:9px;
    cursor:pointer
}
.iex_faq_toggle_open{
    background:url(/_img/item_collapse_expand.png?v=4) no-repeat 0 -9px
}
.iex_faq_toggle_close{
    background:url(/_img/item_collapse_expand.png?v=4) no-repeat 0 0
}
.iex_faq_closed .iex_faq_toggle_close{
    display:none
}
.iex_faq_opened .iex_faq_toggle_open{
    display:none
}
.iex_faq_question{
    line-height:20px;
    vertical-align:middle;
    padding:0 0 0 15px;
    cursor:pointer
}
.iex_faq_answer{
    padding:0 0 10px 0
}
.iex_faq_closed .iex_faq_question:hover{
    text-decoration:underline
}
.iex_faq_closed .iex_faq_answer{
    display:none
}
#icon_preview{
    padding:5px 0 0 0
}
#icon_preview h1{
    margin-top:0
}
#icon_preview h2{
    margin-top:0;
    margin-bottom:10px
}
#icon_preview h3{
    margin-top:0;
    margin-bottom:5px
}
.icons_related_icons{
    float:left;
    margin:10px 18px 0 0;
    text-align:center;
    border-radius:10px;
    padding:5px
}
#colorbox .icons_related_icons{
    margin:10px 15px 0 0
}
.icons_related_icons:hover{
    border:1px solid #ccc;
    padding:4px
}
.icons_related_icon_link,.icons_related_icon_link img{
    display:block
}
.icon_all_sizes_table_colorbox{
    width:100%;
    background-color:#a5adb1
}
.icon_all_sizes_table{
    width:100%;
    height:380px;
    background-color:#a5adb1
}
.icon_all_sizes_table td,.icon_all_sizes_table_colorbox td{
    text-align:center;
    vertical-align:bottom;
    padding:15px;
    background-color:#fff
}
.icon_pixel_size_text{
    margin:10px 0 0 0;
    color:#777
}
#icon_preview_colorbox{
    padding:10px
}
#icon_preview_colorbox h1{
    margin-top:0
}
#icon_preview_colorbox h2{
    margin-top:0;
    margin-bottom:10px
}
#icon_preview_colorbox h3{
    margin-top:0;
    margin-bottom:5px
}
.button{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid #fff;
    border-radius:4px 4px 4px 4px;
    cursor:pointer;
    display:inline-block;
    font-size:14px;
    font-weight:400;
    line-height:1.42857;
    padding:4px 12px;
    text-align:center;
    vertical-align:middle;
    white-space:nowrap;
    background-color:#fff;
    border-color:#ccc;
    color:#333!important;
    margin:0
}
.button span{
    vertical-align:text-top
}
.button:hover{
    background-color:#ebebeb;
    border-color:#adadad;
    text-decoration:none!important
}
.button_green{
    background-color:#a3c046;
    border-color:#8da63c;
    color:#fff!important
}
.button_green:hover{
    background-color:#8da63c;
    border-color:#778c32
}
.button_yellow{
    background-color:#f9d02b;
    border-color:#e2bd27;
    color:#fff!important
}
.button_yellow:hover{
    background-color:#e2bd27;
    border-color:#c7a622
}
.button_red{
    background-color:#dc8c1e;
    border-color:#c27b1a;
    color:#fff!important
}
.button_red:hover{
    background-color:#c27b1a;
    border-color:#a86b17
}
.button_blue{
    background-color:#449cd3;
    border-color:#3c8aba;
    color:#fff!important
}
.button_blue:hover{
    background-color:#3c8aba;
    border-color:#3477a1
}
.button_v_green{
    background:#8bcb46;
    background:-moz-linear-gradient(top,#8bcb46 0%,#42a200 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8bcb46),color-stop(100%,#42a200));
    background:-webkit-linear-gradient(top,#8bcb46 0%,#42a200 100%);
    background:-o-linear-gradient(top,#8bcb46 0%,#42a200 100%);
    background:-ms-linear-gradient(top,#8bcb46 0%,#42a200 100%);
    background:linear-gradient(to bottom,#8bcb46 0%,#42a200 100%);
    border-color:#fff;
    color:#fff!important;
    border-radius:0
}
.button_v_green:hover{
    background:#9bff33;
    background:-moz-linear-gradient(top,#9bff33 0%,#2dbb00 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#9bff33),color-stop(100%,#2dbb00));
    background:-webkit-linear-gradient(top,#9bff33 0%,#2dbb00 100%);
    background:-o-linear-gradient(top,#9bff33 0%,#2dbb00 100%);
    background:-ms-linear-gradient(top,#9bff33 0%,#2dbb00 100%);
    background:linear-gradient(to bottom,#9bff33 0%,#2dbb00 100%);
    border-color:#fff
}
.button_m_orange{
    background-color:#e88e00;
    border-color:#c97c03;
    color:#fff!important;
    border-radius:.1px
}
.button_m_orange:hover{
    background-color:#efa127;
    border-color:#c18424
}
.button_g_red{
    background-color:#FF5722;
    border-color:#FF5722;
    color:#fff!important;
    transition:all .3s ease-out;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border-radius:.1px
}
.button_g_red:hover{
    background-color:#FF5722;
    border-color:#FF5722;
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
.button_g_white{
    background-color:#fff;
    border:none;
    transition:all .3s ease-out;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    border-radius:.1px
}
.button_g_white:hover{
    background-color:#fff;
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
#iex_home_header{
    margin:0 auto 20px;
    background:url(/_img/home_header.jpg) #1C476A;
    color:#fff;
    width:950px;
    overflow:hidden
}
#iex_home #collections{
    margin:15px 0 0 0;
    padding:0
}
#iex_home .collection{
    display:block;
    position:relative;
    margin:32px 0
}
#iex_home .icons_preview_hover{
    position:absolute;
    left:0;
    bottom:0;
    height:111px;
    width:100%
}
.icons_preview_content{
    position:relative;
    height:0;
    overflow:hidden
}
.icons_preview_content_overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:#98b8e7
}
.icons_preview_content_table{
    position:absolute;
    top:0;
    left:0;
    height:111px;
    width:100%;
    color:#fff;
    font-size:13px
}
.icons_preview_content_table td{
    padding:5px;
    width:33%;
    height:50%;
    border-left:1px solid #fff;
    border-top:1px solid #fff
}
.icons_preview_content_table td:first-child{
    border-left:none
}
.icons_preview_content_table tr:first-child td{
    border-top:none
}
#iex_home .use_case_nav{
    position:relative;
    float:right;
    margin:0 0 0 9px;
    width:14px;
    height:14px;
    cursor:pointer;
    border-radius:7px;
    transition:background-color 1s ease-in-out;
    background-color:#536D79
}
#iex_home .use_case_nav_selected{
    background-color:#fff
}
#iex_home .use_case_img{
    position:absolute;
    top:0;
    left:0;
    width:475px;
    height:296px;
    background:url(https://d1nhio0ox7pgb.cloudfront.net/_img/use_cases3.png?v=4)
}
#iex_home .use_case_img_g{
    background-color:#0094a5
}
#iex_home .use_case_img_o{
    background-color:#0c52b2
}
#iex_home .use_case_img_i{
    background-color:#185f8b
}
#iex_home .use_case_img_v{
    background-color:#31698c
}
#iex_home .use_case_img_m{
    background-color:#0f396a
}
#iex_home .use_case_img_text{
    text-align:center;
    padding:3px 0;
    font-size:14px;
    color:#fff;
    opacity:.8
}
#iex_home .icons_preview_buttons{
    text-align:right;
    padding:0 0 0 0;
    width:300px
}
#iex_home .icons_preview_buttons div,#iex_home .icons_preview_buttons a{
    text-align:center
}
#iex_home .icons_preview_buttons a.icons_preview_overview,#iex_home .icons_preview_buttons a.icons_preview_show_icons{
    background-color:#fff;
    font-size:15px;
    height:27px;
    width:130px;
    margin:0 0 0 15px;
    line-height:27px;
    color:#555!important;
    display:inline-block;
    padding:3px 0;
    font-weight:400
}
#iex_home .icons_preview_buttons a.icons_preview_overview:hover,#iex_home .icons_preview_buttons a.icons_preview_show_icons:hover{
    background-color:#fff
}
#iex_home .icons_preview_buttons a.icons_preview_overview:active,#iex_home .icons_preview_buttons a.icons_preview_show_icons:active{
    background-color:#fff
}
#iex_home .icons_preview_buttons .button{
    display:block;
    margin:19px auto 0;
    height:20px
}
#iex_home #collections table.collection_top{
    width:100%
}
#iex_home #collections td.collection_header{
    padding:0 10px 10px 0
}
#iex_home #collections div.collection_name{
    font-size:24px;
    line-height:24px;
    vertical-align:baseline;
    color:#536D79;
    margin:0 10px 4px 0;
    letter-spacing:.01em;
    display:inline-block
}
#iex_home .collection_name a:link,#iex_home .collection_name a:visited,#iex_home .collection_name a:hover,#iex_home .collection_name a:active{
    color:#536D79
}
#iex_home #collections span.collection_name_version,#iex_home #collections span.collection_name_new,#iex_home #collections span.collection_name_icons,#iex_home #collections span.collection_name_price{
    padding:2px 8px;
    margin-left:10px;
    font-size:11px;
    line-height:10px;
    color:#fff;
    border-radius:4px
}
#iex_home #collections span.collection_name_version{
    background-color:#A4AAAC;
    vertical-align:middle
}
#iex_home #collections span.collection_name_new{
    background-color:#FF9E0E;
    vertical-align:top;
    position:relative;
    top:2px;
    border-radius:10px
}
#iex_home #collections span.collection_name_icons{
    background-color:#A4AAAC;
    vertical-align:middle
}
#iex_home #collections span.collection_name_price{
    background-color:#A4AAAC;
    vertical-align:middle
}
#iex_home #collections div.collection_notes{
    font-size:14px;
    line-height:14px;
    vertical-align:middle;
    color:#777
}
#iex_home #collections a.collection_price{
    display:block;
    float:right;
    width:80px;
    text-align:center;
    color:#555;
    background-color:#fff;
    font-size:16px;
    height:24px;
    line-height:24px;
    border:1px solid #ddd
}
#iex_home #collections a.collection_price:hover{
    background-color:#A3C046;
    color:#fff;
    border-color:#ccc
}
#iex_home #collections div.icons_preview{
    position:relative;
    overflow:hidden;
    padding:0;
    background:#fff;
    border-bottom:1px solid #e8e8e8;
    border-top:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
    border-left:1px solid #e8e8e8
}
#iex_home #o_collection .icons_preview_style_text{
    float:left;
    width:115px;
    margin-left:19px
}
#iex_home #o_collection .icons_preview_style_text:first-child{
    margin-left:14px
}
#iex_home #i_collection .icons_preview_style_text{
    float:left;
    width:450px;
    margin-left:19px
}
#iex_home #i_collection .icons_preview_style_text:first-child{
    margin-left:14px
}
#iex_home #m_collection div.icons_preview{
    background-color:#404040
}
#iex_home #collections div.icons_preview_rows{
    position:relative;
    left:5px
}
#iex_home #collections div.icons_preview img{
    display:none
}
#iex_home #collections div.icons_preview_row{
    position:relative;
    height:48px;
    margin:5px 0
}
#iex_home #g_collection .icons_preview_row{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/g_home_icons.png?v=4)
}
#iex_home #o_collection .icons_preview_row{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/o_home_icons.png?v=4)
}
#iex_home #i_collection .icons_preview_row{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/i_home_icons.png?v=4)
}
#iex_home #v_collection .icons_preview_row{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/v_home_icons.png?v=4)
}
#iex_home #m_collection .icons_preview_row{
    background-image:url(https://d1nhio0ox7pgb.cloudfront.net/_img/samples/m_home_icons.png?v=4)
}
#iex_home #collections div.icon_preview{
    float:left;
    margin:0 5px 0 10px;
    padding:0 0 0 0;
    width:48px;
    height:48px;
    position:relative
}
#iex_home #collections div.imageTop{
    position:absolute;
    left:0;
    top:0;
    width:48px;
    height:48px
}
#iex_home #collections div.imageBottom{
    width:48px;
    height:48px
}
#iex_home #collections div.icon_preview:first-child{
    margin-left:0
}
#iex_home #collections div.crosshair_row{
    padding:0 0 0 48px
}
#iex_home #collections table.footer{
    table-layout:fixed;
    width:100%
}
#iex_home #collections table.footer td{
    text-align:center
}
#iex_home #sub_heading{
    margin:0;
    font-size:16px;
    padding:5px 25px;
    background:#f5f5f5;
    color:#555
}
#iex_home #sub_heading_line{
    height:3px;
    color:#1F272D;
    background:url(/_img/subheading_line.png?v=4)
}
#iex_home_frame{
    position:relative;
    padding:10px 40px 0;
    margin:0 auto;
    background:#fff;
    box-shadow:0 0 60px rgba(0,0,0,.2)
}
#iex_home_subheader{
    height:30px;
    margin:0 0 40px
}
#iex_home .collection_preview{
    float:left;
    margin-left:28px;
    position:relative
}
#iex_home .collection_preview_link{
    display:block;
    height:22px;
    margin:0;
    cursor:pointer
}
#iex_home #collection_preview_link_1{
    position:absolute;
    top:210px;
    left:15px
}
#iex_home #collection_preview_link_2{
    position:absolute;
    top:240px;
    left:15px
}
#iex_home .collection_preview_link:hover{
    background-position:0 -22px
}
#iex_home_footer{
    position:relative;
    height:41px;
    padding:0 0 5px 0
}
#iex_home_footer a{
    color:#000;
    text-decoration:none
}
#iex_home_footer a:hover{
    text-decoration:underline
}
#iex_layout_g_collection .iex_menu_sub a{
    color:#fff;
    text-decoration:none
}
#iex_layout_g_collection .iex_menu_sub a:hover{
    color:#fff;
    text-decoration:underline
}
#iex_layout_g_collection a{
    color:#00C0AC;
    text-decoration:none
}
#iex_layout_g_collection a.underline_link:hover{
    color:#06D2B3
}
#iex_layout_g_collection a.underline_link{
    text-decoration:underline
}
#iex_layout_g_collection a:hover{
    color:#00C0AC;
    text-decoration:underline
}
#iex_layout_g_collection .iex_heading_1 h1{
    background:#46b5ac;
    color:#fff;
    margin:0
}
#iex_layout_g_collection .iex_heading_1{
    background:#46b5ac;
    color:#fff;
    margin:0 0 8px 0;
    padding-bottom:5px;
    padding-top:15px
}
#iex_layout_g_collection .iex_heading_1 h1{
    font-size:30px
}
#iex_layout_g_collection .iex_heading_1 div{
    background:none!important;
    margin:0
}
#iex_layout_g_collection .iex_heading div{
    background:#ccc
}
#iex_layout_i_collection .iex_menu_sub a{
    color:#404040;
    text-decoration:none
}
#iex_layout_i_collection .iex_menu_sub a:hover{
    color:#404040;
    text-decoration:underline
}
#iex_layout_i_collection a{
    color:#0F7BFD;
    text-decoration:none
}
#iex_layout_i_collection a:hover{
    color:#0F7BFD;
    text-decoration:underline
}
#iex_layout_i_collection .iex_heading div{
    background-color:#ccc
}
#iex_layout_o_collection .iex_menu_sub a{
    color:#fff;
    text-decoration:none
}
#iex_layout_o_collection .iex_menu_sub a:hover{
    color:#fff;
    text-decoration:underline
}
#iex_layout_o_collection a{
    color:#449CD3;
    text-decoration:none
}
#iex_layout_o_collection a:hover{
    color:#3C8ABA;
    text-decoration:underline
}
#iex_layout_o_collection .iex_heading div{
    background-color:#A1C057
}
#iex_layout_m_collection td{
    color:#fff
}
#iex_layout_m_collection #iex_footer a{
    color:#fff;
    text-decoration:none
}
#iex_layout_m_collection a{
    color:#fff;
    text-decoration:underline
}
#iex_layout_m_collection a:hover{
    color:#ccc
}
#iex_layout_m_collection #iex_footer_line{
    display:none
}
#iex_layout_m_collection .iex_heading div{
    background-color:#fff
}
#iex_layout_m_collection .cboxElement{
    text-decoration:none
}
#collections_comparison{
    margin:0 auto
}
#collections_comparison_table{
    table-layout:fixed;
    width:100%;
    border-spacing:2px
}
#collections_comparison_table tr{
    border-bottom:1px solid #ccc
}
#collections_comparison_table td,#collections_comparison_table th{
    padding:5px
}
#collections_comparison_table th{
    border-top-left-radius:5px;
    border-top-right-radius:5px
}
#collections_comparison_table tr:first-child td{
    border:none
}
#collections_comparison_table td{
    text-align:center;
    color:#2b363f;
    border:1px solid #ccc
}
#collections_comparison_table td:first-child{
    text-align:left;
    color:#1F272D
}
#collections_comparison_table .col_property{
    padding-left:10px
}
#collections_comparison_table th.col_g_collection{
    color:#fff;
    background-color:#00796B
}
#collections_comparison_table th.col_i_collection{
    background-color:#fff;
    color:#777;
    border:1px solid #ccc
}
#collections_comparison_table th.col_o_collection{
    color:#fff;
    background-color:#A1C057
}
#collections_comparison_table th.col_v_collection{
    color:#fff;
    background-color:#2E89B2
}
#collections_comparison_table th.col_m_collection{
    color:#fff;
    background-color:#404040
}
#collections_comparison_table th.col_x_collection{
    color:#fff;
    background-color:#8F1C00
}
#collections_comparison_table .check_yes,#collections_comparison_table .check_no{
    height:30px;
    width:30px;
    background-repeat:no-repeat;
    background-position:center center;
    margin:0 auto
}
#collections_comparison_table .check_yes{
    background-image:url(/_img/comparison_table_check_yes.png?v=4)
}
#collections_comparison_table .check_no{
    background-image:url(/_img/comparison_table_check_no.png?v=4)
}
#collections_comparison_table sup{
    font-weight:400
}
#collections_comparison_footer{
    margin:5px auto 0;
    color:#555;
    font-size:12px
}
#collections_comparison_footer td{
    vertical-align:top;
    padding:0 2px
}
#collections_comparison_print{
    margin:5px 0 0;
    text-align:right;
    cursor:pointer
}
#iex_crossfade_examples{
    padding:12px 18px;
    width:828px;
    margin:0 auto;
    padding:36px
}
#iex_layout_m_collection #iex_crossfade_examples{
    color:#fff;
    border-radius:0
}
#iex_layout_v_collection #iex_crossfade_examples{
    border:1px solid #BABEBF
}
#iex_crossfade_examples .tile_1_1,#iex_crossfade_examples .tile_1_2{
    float:left;
    margin:4px;
    cursor:pointer
}
#iex_crossfade_examples .tile_1_1,#iex_crossfade_examples .tile_1_1 .imageBottom,#iex_crossfade_examples .tile_1_1 .imageTop{
    width:84px;
    height:84px
}
#iex_crossfade_examples .tile_1_2,#iex_crossfade_examples .tile_1_2 .imageBottom,#iex_crossfade_examples .tile_1_2 .imageTop{
    width:176px;
    height:84px
}
#iex_crossfade_examples .crossfade{
    position:relative
}
#iex_crossfade_examples .crossfade .imageTop{
    position:absolute;
    left:0;
    top:0
}
#upgrade_options_table{
    border-spacing:0;
    width:100%;
    margin:5px 0
}
#upgrade_options_table td{
    text-align:center;
    padding:3px
}
#upgrade_options_table .buy_product{
    font-size:14px;
    border-right:solid 5px #fff;
    border-left:solid 5px #fff;
    border-bottom:solid 5px #fff;
    background:#449CD3;
    color:#fff;
    vertical-align:top
}
#upgrade_options_table .upgrade_arrow_down{
    background:#e0e0e0
}
#upgrade_options_table .upgrade_option{
    background:#f0f0f0;
    padding:3px
}
#upgrade_options_table .upgrade_x,#upgrade_options_table .upgrade_free,#upgrade_options_table .upgrade_discount{
    border:solid 5px #fff
}
#upgrade_options_table .upgrade_x{
    color:#777
}
#upgrade_options_table .upgrade_free{
    background:#b2f09a
}
#upgrade_options_table .upgrade_discount{
    background:#daf5cf
}
#upgrade_options_table td.customer_product{
    font-size:14px;
    text-align:right;
    border:none;
    border-right:solid 5px #fff;
    border-top:solid 5px #fff;
    border-bottom:solid 5px #fff;
    padding:3px;
    background:#449CD3;
    color:#fff
}
#iex_layout_purchase .iex_heading_1 h1{
    background:#7ec8c3;
    color:#fff;
    margin:0
}
#iex_layout_purchase .iex_heading_1{
    background:#7ec8c3;
    color:#fff;
    margin:0;
    padding-bottom:0;
    height:50px;
    padding-top:10px
}
#iex_layout_purchase .iex_heading_1 h1{
    font-size:30px
}
#iex_layout_purchase .iex_heading div{
    background:#24a498
}
#iex_layout_purchase .iex_heading_1 div{
    height:0
}
#purchase_product_table td{
    vertical-align:top
}
#purchase_product_discount_table td{
    vertical-align:top
}
table.content_tooltip_product{
    table-layout:fixed;
    border-spacing:1px;
    background:#ccc
}
table.content_tooltip_product td{
    color:#555!important;
    vertical-align:top;
    padding:5px;
    font-size:12px;
    background:#fff
}
table.content_tooltip_product td:first-child{
    font-weight:700
}
.info_tooltip_product{
    display:inline-block;
    vertical-align:top;
    width:11px;
    height:11px;
    background:url(/_img/purchase_product_info.png?v=4)
}
#iex_layout_m_collection .info_tooltip_product{
    background:url(/_img/purchase_product_info_m.png?v=4)
}
.iex_feature_box{
    table-layout:fixed;
    width:100%;
    padding:0 0 20px 0
}
.iex_feature_box_heading{
    font-size:20px;
    margin:10px 0 10px 0
}
.iex_feature_box_text{
    font-size:14px;
    line-height:1.4
}
.iex_feature_box_left{
    width:64px;
    vertical-align:top;
    padding:10px 0 0
}
.iex_feature_box_right{
    vertical-align:top;
    padding:0 0 0 20px
}
.iex_feature_box_main{
    table-layout:fixed;
    min-height:138px
}
.iex_feature_box_main_heading{
    font-size:24px;
    margin:10px 0 10px 0
}
.iex_feature_box_main_text{
    font-size:14px;
    line-height:1.4
}
.iex_technical iframe{
    margin:10px 0 0 0;
    border:1px dashed #999
}
.iex_ribbon{
    font-family:"Roboto";
    font-weight:400;
    font-size:24px!important;
    width:340px;
    position:relative;
    background:#EC407A;
    color:#fff;
    text-align:center;
    padding:.3em 2em;
    margin:0 auto 1em
}
.iex_ribbon:before,.iex_ribbon:after{
    content:"";
    position:absolute;
    display:block;
    bottom:-.8em;
    border:1.2em solid #D81B60;
    z-index:-1
}
.iex_ribbon:before{
    left:-3.7em;
    border-right-width:3.5em;
    border-left-color:transparent
}
.iex_ribbon:after{
    right:-3.7em;
    border-left-width:3.5em;
    border-right-color:transparent
}
.iex_ribbon .iex_ribbon-front:before,.iex_ribbon .iex_ribbon-front:after{
    content:"";
    position:absolute;
    display:block;
    border-style:solid;
    border-color:#880E4F transparent transparent transparent;
    bottom:-.8em
}
.iex_ribbon .iex_ribbon-front:before{
    left:0;
    border-width:.8em 0 0 1em
}
.iex_ribbon .iex_ribbon-front:after{
    right:0;
    border-width:.8em 1em 0 0
}
 