/********** menu_item.htm **********/
/*div.iex_menu_item_i_collection {
  background: url(/_img/collection_menus.png) no-repeat 0 -299px;
}

div.iex_menu_item_i_collection a {
  background: url(/_img/collection_menus.png) no-repeat 0 -276px;
}

div.iex_menu_item_i_collection_selected {
  background: url(/_img/collection_menus.png) no-repeat 0 -322px;
}

div.iex_menu_item_i_collection_selected a {
  background: url(/_img/collection_menus.png) no-repeat 0 -322px;
}

div.iex_menu_item_o_collection {
  background: url(/_img/collection_menus.png) no-repeat 0 -299px;
}

div.iex_menu_item_o_collection a {
  background: url(/_img/collection_menus.png) no-repeat 0 -276px;
}

div.iex_menu_item_o_collection_selected {
  background: url(/_img/collection_menus.png) no-repeat 0 -322px;
}

div.iex_menu_item_o_collection_selected a {
  background: url(/_img/collection_menus.png) no-repeat 0 -322px;
}

div.iex_menu_item_v_collection {
  background: url(/_img/collection_menus.png) no-repeat 0 -23px;
}

div.iex_menu_item_v_collection a {
  background: url(/_img/collection_menus.png) no-repeat 0 0;
}

div.iex_menu_item_v_collection_selected {
  background: url(/_img/collection_menus.png) no-repeat 0 -46px;
}

div.iex_menu_item_v_collection_selected a {
  background: url(/_img/collection_menus.png) no-repeat 0 -46px;
}

div.iex_menu_item_m_collection {
  background: url(/_img/collection_menus.png) no-repeat 0 -115px;
}

div.iex_menu_item_m_collection a {
  background: url(/_img/collection_menus.png) no-repeat 0 -92px;
}

div.iex_menu_item_m_collection_selected {
  background: url(/_img/collection_menus.png) no-repeat 0 -138px;
}

div.iex_menu_item_m_collection_selected a {
  background: url(/_img/collection_menus.png) no-repeat 0 -138px;
}

div.iex_menu_item_x_collection {
  background: url(/_img/collection_menus.png) no-repeat 0 -207px;
}

div.iex_menu_item_x_collection a {
  background: url(/_img/collection_menus.png) no-repeat 0 -184px;
}

div.iex_menu_item_x_collection_selected {
  background: url(/_img/collection_menus.png) no-repeat 0 -230px;
}

div.iex_menu_item_x_collection_selected a {
  background: url(/_img/collection_menus.png) no-repeat 0 -230px;
  }*/

div.iex_download_button, div.iex_download_button a {
  background-image: url(/_img/button_download.png);
}

/**********************************************************************/
/* Version 2 */
/**********************************************************************/

#iex_link_view_sample_icons_v {
	cursor: pointer;
  background: url(/_img/v/view_icon_samples.png) no-repeat 0 0;
}

#iex_link_view_sample_icons_v:hover {
  background-position: 0 -32px;
}

#iex_link_view_web_icons_v {
	cursor: pointer;
  background: url(/_img/v/view_icons.png) no-repeat 0 0;
}

#iex_link_view_web_icons_v:hover {
  background-position: 0 -29px;
}

#iex_link_download_samples_v {
	cursor: pointer;
  background: url(/_img/v/download_samples.png) no-repeat 0 0;
}

#iex_link_download_samples_v:hover {
  background-position: 0 -29px;
}

#iex_link_download_icon_catalog_v {
	cursor: pointer;
  background: url(/_img/v/download_catalog.png) no-repeat 0 0;
}

#iex_link_download_icon_catalog_v:hover {
  background-position: 0 -32px;
}

#iex_link_download_catalog_x {
  cursor: pointer;
  background: url(/_img/x/download_catalog.png) no-repeat 0 0;
}

#iex_link_download_catalog_x:hover {
  background-position: 0 -32px;
}

#iex_link_view_samples_x {
  cursor: pointer;
  background: url(/_img/x/view_samples.png) no-repeat 0 0;
}

#iex_link_view_samples_x:hover {
  background-position: 0 -32px;
}

#iex_buy_now_v {
  cursor: pointer;
  background: url(/_img/v/buy_now.png) no-repeat 0 0;
}

#iex_buy_now_v:hover {
  background-position: 0 -29px;
}

#iex_buy_now_x {
  cursor: pointer;
  background: url(/_img/x/buy_now.png) no-repeat 0 0;
}

#iex_buy_now_x:hover {
  background-position: 0 -29px;
}
#v_collection_search_submit {
  background: url(/_img/v/search_icons.png) no-repeat 0 0;  
}

#v_collection_search_submit:hover {
  background-position: 0 -29px;  
}

/**********************************************************************/
/* Version 3 */
/**********************************************************************/

#iex_link_view_sample_icons_m {
	cursor: pointer;
  background: url(/_img/m/view_icon_samples.png) no-repeat 0 0;
}

#iex_link_view_sample_icons_m:hover {
  background-position: 0 -32px;
}

#iex_link_view_web_icons_m {
	cursor: pointer;
  background: url(/_img/m/view_web_icons.png) no-repeat 0 0;
}

#iex_link_view_web_icons_m:hover {
  background-position: 0 -34px;
}

#iex_link_download_samples_m {
	cursor: pointer;
  background: url(/_img/m/download_samples.png) no-repeat 0 0;
}

#iex_link_download_samples_m:hover {
  background-position: 0 -34px;
}

#iex_link_download_icon_catalog_m {
	cursor: pointer;
  background: url(/_img/m/download_catalog.png) no-repeat 0 0;
}

#iex_link_download_icon_catalog_m:hover {
  background-position: 0 -38px;
}

#iex_buy_now_m {
  cursor: pointer;
  background: url(/_img/m/buy_now.png) no-repeat 0 0;
}

#iex_buy_now_m:hover {
  background-position: 0 -38px;
}

#m_collection_search_submit {
  background: url(/_img/m/search_icons.png) no-repeat 0 0;  
}

#m_collection_search_submit:hover {
  background-position: 0 -29px;  
}

